/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

body {
  background-color: hsl(235, 48%, 16%);
  color: #ffff;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding-top: 3em;
}

.container {
  margin: 0 auto;
  max-width: 70em;
  width: calc(100% - 3em);
}

header {
  align-items: center;
  border: 2.5px solid hsl(216, 18%, 45%);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

h1 {
  font-size: 3rem;
  line-height: 0.8;
  margin: 0;
  max-width: 10ch;
  text-transform: uppercase;
}

.header__score-box {
  align-items: center;
  background-color: #ffff;
  border-radius: 1em;
  color: hsl(235, 48%, 16%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 3em 0 3em;
  text-align: center;
  text-transform: uppercase;
}

.header__score-box > h2 {
  color: hsl(232, 32%, 49%);
  letter-spacing: 1.5px;
  line-height: 0;
}

.header__score {
  color: hsl(243, 11%, 37%);
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
}

.game--active {
  aspect-ratio: 1;
  display: grid;
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  max-width: 40em;
}

.game__button {
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border: 1em solid;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 12em;
  margin: auto;
}

.game__button--paper {
  background-image: url(./images/icon-paper.svg);
  border-color: hsl(229, 87%, 63%);
}

.game__button--scissors {
  background-image: url(./images/icon-scissors.svg);
  border-color: hsl(40, 84%, 51%);
  margin-left: auto;
}

.game__button--rock {
  background-image: url(./images/icon-rock.svg);
  border-color: hsl(349, 68%, 54%);
  grid-column: 1 / -1;
  margin: auto;
}

.game--active.hide {
  display: none;
}

.game--end {
  display: none;
}

.game--end.show {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}

.game--end.show > * {
  width: 100%;
}

.game--end p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.game__button:disabled {
  background-color: #ffff;
  cursor: unset;
  margin: 2em auto;
}

.game__end-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game__end-status p {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
}

.game__end-status button {
  background-color: #ffff;
  border: 0;
  border-radius: 0.5em;
  color: hsl(235, 48%, 16%);
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 1em 0;
  text-transform: uppercase;
  width: 70%;
}

.game__end-status button:is(:focus, :hover) {
  transform: scale(0.95);
}
